body{
    background-color: #191919;
    box-sizing: border-box;
}

a{
    cursor: pointer;
}

button{
    border: none;
    cursor: pointer;
}

*{
    box-sizing: border-box;
    color:#FFF;
}

li , a , button {
    text-decoration: none;
}

header{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    max-height: 119px;
    padding: 26px 50px;
    color: white;
}

li , ul {
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 20px;
    margin-right: 40px;
}

.nav__last{
    margin-right: 0;
}

#colorr{
    color: #118DA8;
}

.nav__link{
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
}

.hero{
    margin: auto;
    max-width: 1400px;
    max-height: 913px;
    padding: 40px 0 0 50px;
}

.lil-hero{
    display: inline-flex;
    padding-right: 0px;
    align-items: center;
    gap: 60px;
    height: 873px;
    width: 1240px;
}

.man{
    max-width: 650px;
    max-height: 873px;
}

.lines{
    position: relative;
    left: -30px;
    top: -900px;
}

.left-hero{
    padding-left: 40px;
    padding-top: 50px;
    margin-right: 60px;
    width: 650px;
}
.man-photo{
    float: left;
}

.right-hero{
    align-items: center;
    color: #FFF;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 88px;
}

.next-level{
    display: inline-block;
}

.hero-text{
    display: inline-block;
    max-width: 526px;
    font-family: 'DM Sans', sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 88px;
    letter-spacing: 3.2px;
    margin-bottom: 0px;
}

.hero-text-1{
    display: inline-block;
    max-width: 526px;
    font-family: 'DM Sans', sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 88px;
    letter-spacing: 3px;
    margin-bottom: 30px;
}

.heero-text{
    color: #FFF;
    font-family: 'DM Sans';
    font-size: 75px;
    font-style: normal;
    font-weight: 400;
    line-height: 88px; /* 117.333% */
    letter-spacing: 3.2px;
    margin-top: 0;
}

.heero-texts{
    margin-top: 0;
    color: #FFF;
    font-family: 'DM Sans';
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 88px; /* 110% */
    letter-spacing: 3.2px;
}

.lines-ss{
    position: relative;
    bottom: 120px;
}

.pad-text{
    position: relative;
    bottom: 30px;
}

.listen-on{
    width: 289px;
    height: 72px;
    flex-shrink: 0;
    padding-left: 20px;
}

.listen-on-text{
    color: #FFF;
    font-family: 'DM Sans';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    position: relative;
    bottom: 54px;
}

.lis-img{
    display: inline-flex;
    height: 32px;
    padding-right: 0px;
    align-items: flex-start;
    gap: 17px;
    flex-shrink: 0;
    position: relative;
    bottom: 83px;
}

.listem-on-img{
    width: 32px;
    height: 32px
}

.main{
    width: 1400px;
    height: 2088px;
    margin: auto;
    overflow: hidden;
    padding-top: 100px;
}

.main-head-text-1{
    display: inline-block;
    color: #FFF;
    font-family: 'DM Sans';
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 79.2px; /* 123.75% */
    letter-spacing: 2.88px;
    position: relative;
    bottom: 70px;
}


.main-head{
    width: 1300px;
    height: 99px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
}



.button-main{
    color: #FFF;
    font-family: 'DM Sans';
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    width: 178px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #118DA8;
    cursor: pointer;
    margin-top: 25px;
}

.episode-1{
    padding: 40px 0 40px 40px;
    max-width: 1300px;
    max-height: 545px;
    border-radius: 32px;
    background: #000;
    margin-left: 50px;
    margin-top: 50px;
}

.episode-1-inside{
    display: inline-flex;
    height: 465px;
    justify-content: center;
    align-items: flex-start;
    gap: 53px;
    flex-shrink: 0;
}

.button-episode-1{
    width: 73px;
    height: 27px;
    border-radius: 6px;
    background: #191919;
}


.episode-1-text{
    color: #118DA8;
    font-family: 'DM Sans';
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 158.824% */
    margin-top: 48px;
    display: inline-block;
}

.episode-1-h{
    color: #FFF;
    font-family: 'DM Sans';
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 70.4px; /* 110% */
    letter-spacing: 2.56px;
    margin: 18px 0 28px 0;
}

.episode-1-text-2{
    color: rgba(255, 255, 255, 0.70);
    font-family: DM Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px; /* 150% */
    display: inline-block;
}

.button-episode-1-2{
    width: 208px;
    height: 51px;
    border-radius: 6px;
    background: #118DA8;
    color: #FFF;
    font-family: 'DM Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */   
    margin-top: 18px;
}

.episode-2{
    padding: 40px 0 40px 40px;
    max-width: 1300px;
    max-height: 545px;
    border-radius: 32px;
    background: #000;
    margin-left: 50px;
    margin-top: 50px;
}

.episode-2-inside{
    display: inline-flex;
    height: 465px;
    justify-content: center;
    align-items: flex-start;
    gap: 53px;
    flex-shrink: 0;
}

.button-episode-2{
    width: 136px;
    height: 27px;
    border-radius: 6px;
    background: #191919;
}


.episode-2-text{
    color: #118DA8;
    font-family: 'DM Sans';
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 158.824% */
    margin-top: 48px;
    display: inline-block;
}

.episode-2-h{
    color: #FFF;
    font-family: 'DM Sans';
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 70.4px; /* 110% */
    letter-spacing: 2.56px;
    margin: 18px 0 28px 0;
}

.episode-2-text-2{
    color: rgba(255, 255, 255, 0.70);
    font-family: 'DM Sans';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px; /* 150% */
    display: inline-block;
}

.button-episode-2-2{
    width: 208px;
    height: 51px;
    border-radius: 6px;
    background: #118DA8;
    color: #FFF;
    font-family: 'DM Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */   
    margin-top: 18px;
}


.episode-3{
    padding: 40px 0 40px 40px;
    max-width: 1300px;
    max-height: 545px;
    border-radius: 32px;
    background: #000;
    margin-left: 50px;
    margin-top: 50px;
}

.episode-3-inside{
    display: inline-flex;
    height: 465px;
    justify-content: center;
    align-items: flex-start;
    gap: 53px;
    flex-shrink: 0;
}

.button-episode-3{
    width: 73px;
    height: 27px;
    border-radius: 6px;
    background: #191919;
}


.episode-3-text{
    color: #118DA8;
    font-family: 'DM Sans';
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 158.824% */
    margin-top: 48px;
    display: inline-block;
}

.episode-3-h{
    color: #FFF;
    font-family: 'DM Sans';
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 70.4px; /* 110% */
    letter-spacing: 2.56px;
    margin: 18px 0 28px 0;
}

.episode-3-text-2{
    color: rgba(255, 255, 255, 0.70);
    font-family: 'DM Sans';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px; /* 150% */
    display: inline-block;
}

.button-episode-3-2{
    width: 208px;
    height: 51px;
    border-radius: 6px;
    background: #118DA8;
    color: #FFF;
    font-family: 'DM Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */   
    margin-top: 18px;
}


.bottle{
    margin: auto;
    padding: 100px 50px;
    width: 1400px;
    height: 943px;
}

.lil-bottle{
    display: flex;
    width: 1300px;
}

.left-bottle{
    margin-top: 100px;
    width: 590px;
    height: 490px;
    overflow: hidden;
}

.left-button-1{
    width: 112px;
    height: 112px;
    border-radius: 400px;
    background: #118DA8;
}

.left-text-1{
    color: #118DA8;
    font-family: 'DM Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
    display: inline-block;
    margin-top: 20px;
}


.left-h-1{
    color: #FFF;
    font-family: 'DM Sans';
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
    line-height: 79.2px; /* 121.846% */
    letter-spacing: 2.88px;
    margin: 0;
    margin-bottom: 26px;
}


.left-text-2{
    color: rgba(255, 255, 255, 0.70);
    font-family: 'DM Sans';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px; /* 150% */
    margin-bottom: 33px;
    display: inline-block;
}

.left-text-3{
    color: rgba(255, 255, 255, 0.70);
    font-family: 'DM Sans';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px; /* 150% */
}


.right-bottle{
    align-items: center;
}


.img-right{
    float: right;
    width: 650px;
    height: 743px;
    border-radius: 12px;
}


.registraition{
    margin: auto;
    width: 1400px;
    height: 587px;
    padding: 100px 50px;
    overflow: hidden;
}

.lil-registration{
    width: 1300px;
    height: 387px;
    border-radius: 32px;
    background: #000;
    display: flex;
}


.registration-left{
    width: 642px;
    height: 330px;
}

.registration-text-1{
    color: #118DA8;
    font-family: 'DM Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
    margin: 60px 0 0 60px;
}

.registration-text-2{
    color: #FFF;
    font-family: 'DM Sans';
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 79.2px; /* 110% */
    letter-spacing: 2.88px;
    margin: 0 150px 85px 60px;
}


.registration-right{
    width: 522px;
    height: 252px;
    flex-shrink: 0;
    align-items: center;
    overflow: hidden;
    margin: 50px 60px 75px 0;
}


.registration-input-1{
    display: inline-block;
    width: 522px;
    height: 82px;
    border-radius: 6px;
    border: 1px solid #191919;
    background: #191919;
    color: rgba(255, 255, 255, 0.70);
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px; /* 120% */
    padding-left: 19px;
}

.registration-input-2{
    display: inline-block;
    width: 522px;
    height: 82px;
    border-radius: 6px;
    border: 1px solid #191919;
    background: #191919;
    color: rgba(255, 255, 255, 0.70);
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px; /* 120% */
    padding-left: 19px;
    margin-top: 20px;
}


.geristration-button-1{
    width: 87px;
    height: 48px;
    border-radius: 6px;
    background: #118DA8;
    margin-top: 20px;
}

.registraition-img{
    position:relative;
    bottom: 56px;
    right: 35px;
}

.reviews{
    margin: auto;
    width: 1400px;
    height: 901px;
    padding: 100px 50px;
}

.lil-reviews{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.all-reviews{
    width: 423px;
    height: 321px;
    border-radius: 32px;
    background: #000;
}

.all-reviews:not(:last-child){
    margin-right: 16;
}

.all-reviews:nth-child(n+4):nth-child(-n+6){
    margin-top: 16px;
}

.star-img-reviews-1{
    margin-top: 54px;
    margin-left: 50px;
}

.review-text-1{
    display: inline-block;
    color: #FFF;
    font-family: 'DM Sans';
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 43.2px; /* 120% */
    max-width:313px;
    margin: 21px 0 0 50px;
}

.review-text-2{
    display: inline-block;
    color: rgba(255, 255, 255, 0.70);
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px; /* 120% */
    max-width: 160px;
    margin: 19px 0 0 50px;
}


footer{
    margin: auto;
    width: 1400px;
    height: 438px;
    padding: 100px 50px ;
}

.lil-footer{
    display: flex;
    width: 1300px;
    padding: 0px 0.031px 16px 0px;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.part-1{
    display: flex;
    width: 447.141px;
    height: 222px;
    padding: 0.125px 0px 128.891px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 19.984px;
    flex-shrink: 0;
}

.social-media{
    display: flex;
    height: 27px;
    padding-right: 355.141px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
}

.part-2{
    display: flex;
    width: 178.844px;
    padding: 0px 103.984px 84.875px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    color: #FFF;
    font-family: 'DM Sans';
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 158.824% */
}

.part-2-ul{
    padding: 0;
    margin: 0;
}

.part-2-list{
    margin-bottom: 8px;
}


.part-3{
    display: flex;
    width: 178.844px;
    padding: 0px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0; 
    color: #FFF;
    font-family: 'DM Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
}

.part-3-ul{
    padding: 0;
    margin: 0;
}

.part-3-list{
    margin-bottom: 8px;
}

.part-4{
    display: flex;
    width: 447.141px;
    height: 32px;
    padding: 0px 218.969px 0px 0.172px;
    align-items: flex-start;
    gap: 17px;
    flex-shrink: 0;
}